*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #e6e6f0;
    font-family: 'Poppins', sans-serif;
}
body::before{
    
    content: "";
    background: #535971;
    height: 436px;
    width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.page{
    width: 1440px;
    margin: auto;
    padding: 140px 345px ;
}

h1{
    font-size: 48px;
    line-height: auto;
    color: #ffffff;
   font-weight: 400;
    font-family: 'Staatliches', sans-serif;

}
p{
    font-size: 20px;
    line-height: auto;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}
header{
width: 420px;
margin-right: 678px;
}
form {
    padding: 64px;
    margin-top: 50px;
    background: #ffffff;
    width: 750px;
    min-height: 300px;
    border-radius: 8px 8px 0 0;
    
}
fieldset{
    border: none;
    
}
.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap:15px;
}

fieldset legend{
    font-size: 24px;
    line-height: 34px;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    color: #535971;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #e6e6f0;
}
.input-wrapper input{
    padding: 15px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    
}
.input-wrapper label{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #4e4958;

}
#mentoring{
    font-size: 20px;
    line-height: 34px;
    color: #535971;
    font-family: 'Staatliches', sans-serif

}
.input-wrapper label span{
    font-size: 12px;
    line-height: 20px;
    color: #c1bccc;

}
.col-2 input {
    height: 56px;
    width: 300px;
    border-radius: 8px;

    border: 1px solid #e6e6f0;
}
.col-2 {
    display: flex;
    gap: 22px;
}
.col-2 > div:nth-child(1){
    width: 100%;
}
.input-wrapper input{
    border-radius: 8px;
height: 56px;
    border: 1px solid #e6e6f0;
    font-family: 'Poppins', sans-serif;
    font-family: 400;
}
.col-3{
    display: flex;
    gap: 32px;
align-items: flex-end;
}
.first-mentoring {
    height: 56px;
    width: 300px;
}
.hour{
    height: 56px;
    width: 140px;
}

.col-3 >div:nth-child(1){
    width: 100%;
}
footer{
    padding: 52px 71px;
    display: flex;
    flex-direction: column;
    background:#535971; 
    border-radius: 0 0 15px 15px;
    height: 160px;


}
footer .button{
    height: 56px;
    background:#ff5374;
    border-radius: 20px;
    color: #ffffff;
    line-height: 26px;
    font-size: 20px;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    border: 0;
}

/* font-family: 'Staatliches', sans-serif;
font-family: 'Poppins', sans-serif; */